.addClient {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
}

.form-container {
  padding: 20px 10px;
  /* background: #1d2b3e; */
  background: transparent;
  border: none;
  border: 2px solid rgba(255, 255, 255, .5);
  /* border: 1.8px solid #fe004f; */
  border-radius: 20px;
  backdrop-filter: blur(20px);
  margin-left: 15px;
}

.input-box {
  position: relative;
  width: 280px;
  margin: 20px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}

.input-box label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: transparent;
  border-left: 1.8px solid #fe004f;
  border-bottom: 1.8px solid #fe004f;
  transform: rotate(45deg);
  opacity: 0;
  transition: .5s;
}

.input-box label::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: transparent;
  border-right: 1.8px solid #fe004f;
  border-top: 1.8px solid #fe004f;
  transform: rotate(45deg);
  opacity: 1;
  transition: .5s;
}

.input-box input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1.8px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label {
  top: 0;
  left: 10px;
  font-size: 11px;
  background: transparent;
  color: #fe004f;
  padding: 0 12px;
  backdrop-filter: blur(50px);
  border-radius: 5px;
}

.input-box input:focus ~label::before, 
.input-box input:valid~label::before,
.input-box input:focus ~label::after, 
.input-box input:valid~label::after {
  top: 1.5px;
  opacity: 1;
}

.input-box input:focus, 
.input-box input:valid {
  border: 1.8px solid #fe004f;
}

.form-textarea textarea{
  background: transparent;
  backdrop-filter: blur(50px);
  border-radius: 5px;
  font-size: 11px;
  padding: 0 12px;
}